# Storm Data Classification

In [18]:
import pandas as pd
import numpy as np
import os

In [19]:
# df = pd.read_csv(r'/Users/danielschneider/Downloads/mi_2015_d.csv')
# df.head(50)
# # df.dropna(axis=1,inplace=True)

# mi = df[df['STATE'] == 'MICHIGAN']
# mi
# mi['BEGIN_YEARMONTH'] = mi['BEGIN_YEARMONTH'].apply(str)
# mi['Year'] = mi['BEGIN_YEARMONTH'].str[:4]
# mi['Month'] = mi['BEGIN_YEARMONTH'].str[5:]
# mi = mi.rename(columns={'BEGIN_DAY':'Day'})
# mi.drop(columns=['STATE_FIPS','DATA_SOURCE','MONTH_NAME'],inplace=True)
# mi.columns
# mi.to_csv(r'/Users/danielschneider/Desktop/m1-2021/m1-2021/mi_2015_damage.csv')
# mi

path = r'/Users/danielschneider/Desktop/m1-2021/m1-2021'
os.chdir(path)
directory = os.getcwd() + "/"

base = pd.DataFrame()

for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        current_csv = pd.read_csv(filename)
        merge = [base, current_csv]
        base = pd.concat(merge,ignore_index=True)
        
base['BEGIN_YEARMONTH'].sort_values()

base.to_csv(r'/Users/danielschneider/Desktop/m1-2021/m1-2021/merged_years.csv')

In [20]:
base
base.sort_values('BEGIN_YEARMONTH',inplace=True)
base.reset_index(inplace=True)
base.drop(columns=['Unnamed: 0', 'index'],inplace=True)
base.columns

Index(['BEGIN_YEARMONTH', 'Day', 'BEGIN_TIME', 'END_YEARMONTH', 'END_DAY',
       'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'YEAR', 'EVENT_TYPE',
       'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME', 'WFO', 'BEGIN_DATE_TIME',
       'CZ_TIMEZONE', 'END_DATE_TIME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT',
       'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS',
       'SOURCE', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY',
       'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO',
       'TOR_OTHER_CZ_STATE', 'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME',
       'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE',
       'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT',
       'END_LON', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'Year', 'Month',
       'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1'],
      dtype='object')

In [28]:
base

,BEGIN_YEARMONTH,Day,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,YEAR,...,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,Year,Month,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1
0,199601,26,2000,199601,27,2000,2054716,5575399,MICHIGAN,1996,...,NaN,NaN,"Low pressure moved across Eastern Wisconsin, N...",NaN,1996,1,NaN,NaN,NaN,NaN
1,199601,31,0,199601,31,1200,2054718,5575425,MICHIGAN,1996,...,NaN,NaN,An Arctic airmass brought extreme cold to part...,NaN,1996,1,77366.0,4680.0,NaN,NaN
2,199601,18,0,199601,20,800,2054715,5575387,MICHIGAN,1996,...,NaN,NaN,A complex synoptic situation lead to a wide va...,NaN,1996,1,40117.0,32328.0,24539.0,6189.0
3,199601,18,0,199601,20,800,2054715,5575388,MICHIGAN,1996,...,NaN,NaN,A complex synoptic situation lead to a wide va...,NaN,1996,1,40118.0,32329.0,24540.0,6190.0
4,199601,29,700,199601,30,700,2403378,5540341,MICHIGAN,1996,...,NaN,NaN,Strong winds and 3 to 5 inch snowfall combined...,NaN,1996,1,40119.0,32330.0,24541.0,6599.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132100,202012,13,2000,202012,14,1000,154294,929617,MICHIGAN,2020,...,NaN,NaN,An Arctic cold front moving across the area ge...,There was a social media report of four inches...,2020,2,26065.0,18276.0,10487.0,49619.0
132101,202012,13,2000,202012,14,1730,154294,929616,MICHIGAN,2020,...,NaN,NaN,An Arctic cold front moving across the area ge...,The spotter outside Baraga measured nearly eig...,2020,2,26064.0,18275.0,10486.0,49618.0
132102,202012,12,300,202012,12,1700,153958,927141,MICHIGAN,2020,...,NaN,NaN,A winter storm brought 6 to over 8 inches of s...,Over eight inches of snow fell and there were ...,2020,2,26062.0,18273.0,10484.0,49349.0
132103,202012,12,600,202012,12,1900,155039,935223,MICHIGAN,2020,...,NaN,NaN,Low pressure crossed southern lower Michigan d...,NaN,2020,2,63442.0,59537.0,NaN,NaN
132104,202012,29,2200,202012,30,630,154731,932175,MICHIGAN,2020,...,NaN,NaN,A low pressure system deepening over the Upper...,The observer in Munising measured four inches ...,2020,2,44639.0,36850.0,46362.0,NaN

In [34]:
select = base[['BEGIN_YEARMONTH', 'Day', 'BEGIN_TIME', 'END_TIME', 'EVENT_ID','STATE', 'YEAR', 'DAMAGE_PROPERTY', 'MAGNITUDE','Month', 'CZ_FIPS','CZ_NAME','TOR_F_SCALE', 'FLOOD_CAUSE']]
select['DAMAGE_PROPERTY'].unique()
select = select.fillna('0')
select
select['DAMAGE_PROPERTY'] = select['DAMAGE_PROPERTY'].astype(str)
select['DAMAGE_PROPERTY'] = select['DAMAGE_PROPERTY'].map(lambda x: x.rstrip('K'))
# select[select['DAMAGE_PROPERTY'].str.match('[\w\d\.][M$]')].unique()

In [35]:
select

,BEGIN_YEARMONTH,Day,BEGIN_TIME,END_TIME,EVENT_ID,STATE,YEAR,DAMAGE_PROPERTY,MAGNITUDE,Month,CZ_FIPS,CZ_NAME,TOR_F_SCALE,FLOOD_CAUSE
0,199601,26,2000,2000,5575399,MICHIGAN,1996,0,0,1,9,GOGEBIC,0,0
1,199601,31,0,1200,5575425,MICHIGAN,1996,0,0,1,12,MENOMINEE,0,0
2,199601,18,0,800,5575387,MICHIGAN,1996,0,0,1,10,IRON,0,0
3,199601,18,0,800,5575388,MICHIGAN,1996,0,0,1,11,DICKINSON,0,0
4,199601,29,700,700,5540341,MICHIGAN,1996,0,40.0,1,39,OSCEOLA,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132100,202012,13,2000,1000,929617,MICHIGAN,2020,0.00,0,2,2,ONTONAGON,0,0
132101,202012,13,2000,1730,929616,MICHIGAN,2020,0.00,0,2,4,BARAGA,0,0
132102,202012,12,300,1700,927141,MICHIGAN,2020,100.00,0,2,40,CLARE,0,0
132103,202012,12,600,1900,935223,MICHIGAN,2020,0.00,0,2,26,GRAND TRAVERSE,0,0
132104,202012,29,2200,630,932175,MICHIGAN,2020,0.00,0,2,6,ALGER,0,0

In [36]:
select.CZ_NAME.sort

array(['GOGEBIC', 'MENOMINEE', 'IRON', 'DICKINSON', 'OSCEOLA', 'WAYNE',
       'SOUTHERN SCHOOLCRAFT', 'CALHOUN', 'ONTONAGON', 'MARQUETTE',
       'ALGER', 'BARAGA', 'NORTHERN HOUGHTON', 'KEWEENAW', 'MASON',
       'DELTA', 'OTTAWA', 'ALLEGAN', 'SAGINAW', 'BARRY', 'SHIAWASSEE',
       'LAKE', 'KENT', 'LUCE', 'KALAMAZOO', 'LENAWEE', 'CASS',
       'ST. JOSEPH', 'EATON', 'CLINTON', 'CLARE', 'WASHTENAW',
       'VAN BUREN', 'MIDLAND', 'MACOMB', 'BERRIEN', 'BAY', 'HURON',
       'MONROE', 'SANILAC', 'TUSCOLA', 'LIVINGSTON', 'ST. CLAIR',
       'ISABELLA', 'BRANCH', 'MUSKEGON', 'OAKLAND', 'GENESEE', 'LAPEER',
       'JACKSON', 'HILLSDALE', 'INGHAM', 'MECOSTA', 'OCEANA',
       'MONTMORENCY', 'MISSAUKEE', 'WEXFORD', 'ALCONA', 'ANTRIM',
       'OGEMAW', 'OTSEGO', 'ROSCOMMON', 'ALPENA', 'ARENAC', 'GLADWIN',
       'MONTCALM', 'CHARLEVOIX', 'GRATIOT', 'CHEBOYGAN', 'PRESQUE ISLE',
       'MACKINAC', 'IOSCO', 'KALKASKA', 'IONIA', 'EMMET', 'LEELANAU',
       'NEWAYGO', 'CHIPPEWA', 'GRAND TRAVERSE', 'BENZIE', 'OSCODA',
       'CRAWFORD', 'MANISTEE', 'HOUGHTON', 'SCHOOLCRAFT',
       'NORTHERN SCHOOLCRAFT', 'SOUTHERN HOUGHTON',
       'MACKINAC ISLAND/BOIS BLANC ISLAND', 'CLARLEVOIX COUNTY',
       'WESTERN MACKINAC COUNTY', 'WESTERN CHIPPEWA COUNTY',
       'CENTRAL CHIPPEWA COUNTY', 'EASTERN MACKINAC COUNTY',
       'SOUTHEAST CHIPPEWA COUNTY', 'BEAVER ISLAND'], dtype=object)

In [59]:
select['CZ_FIPS'].unique()

array([  9,  12,  10,  11,  39, 163,  14,  25,   2,   5,   6,   4,   3,
         1,  37,  13,  56,  64, 145,  65, 155,  38,  57,   7,  72,  77,
        91,  27, 149,  45,  40,  73,  75,  71,  47,  70,  48,  49,  83,
        55,  53,  54,  68, 147,  78,  79,  46,  76,  80,  82, 121,  69,
        60,  63,  61,  62,  74,  50,  81,  67, 107, 151,  59, 115, 161,
        17,  21,  35, 111, 127,  23,  87, 139, 119, 125, 113, 165,  99,
        93, 129, 137, 105, 143,  51, 133,  95, 117,  85, 157, 159,  41,
        42,  43,  29, 103,  31, 141,  97,  15, 109,  19,  20,  44,  22,
         8,  26,  16,  24,  18,  33,  34,  30,  28,  36,  32,  52, 123,
        58,  66, 135, 101, 131, 153,  89,  84,  86,  96,  88,  98])

In [48]:
select.DAMAGE_PROPERTY = (select.DAMAGE_PROPERTY.replace(r'[hKMB]+$','',regex=True).astype(float) * \
                         select.DAMAGE_PROPERTY.str.extract(r'[\d\.]+([hKMB]+)',expand=False).fillna(1)
                                                        .replace(['h','K','M','B'],[100,10**3,10**6,10**9]).astype(int))

In [52]:
select.DAMAGE_PROPERTY.sort_values()

0         0.000000e+00
83863     0.000000e+00
83862     0.000000e+00
83861     0.000000e+00
83860     0.000000e+00
              ...
105984    1.100000e+09
105679    1.100000e+09
105614    1.100000e+09
105828    1.100000e+09
105723    1.100000e+09
Name: DAMAGE_PROPERTY, Length: 132105, dtype: float64

In [67]:
select.CZ_FIPS

0          9
1         12
2         10
3         11
4         39
          ..
132100     2
132101     4
132102    40
132103    26
132104     6
Name: CZ_FIPS, Length: 132105, dtype: int64

In [117]:
df = pd.read_csv(
    'population.txt',sep='\t',header=None)

In [118]:
df.drop(columns=[0,3], inplace=True)

In [119]:
df['CZ_FIPS'] = df[2] - 26000

In [120]:
df['YEAR'] = df[4]

In [121]:
merged = df.merge(select, how='inner', on=['CZ_FIPS', 'YEAR'])

In [122]:
merged.tail(50)
merged.drop_duplicates(inplace=True)

In [125]:
merged.head(1200)

,1,2,4,5,CZ_FIPS,YEAR,BEGIN_YEARMONTH,Day,BEGIN_TIME,END_TIME,EVENT_ID,STATE,DAMAGE_PROPERTY,MAGNITUDE,Month,CZ_NAME,TOR_F_SCALE,FLOOD_CAUSE
0,"Alcona County, MI",26001,1996,11106,1,1996,199601,29,600,600,5575405,MICHIGAN,0.0,0,1,KEWEENAW,0,0
1,"Alcona County, MI",26001,1996,11106,1,1996,199601,18,0,800,5575379,MICHIGAN,0.0,0,1,KEWEENAW,0,0
3,"Alcona County, MI",26001,1996,11106,1,1996,199601,26,2000,2000,5575392,MICHIGAN,0.0,0,1,KEWEENAW,0,0
15,"Alcona County, MI",26001,1996,11106,1,1996,199602,27,1800,2000,5575640,MICHIGAN,0.0,0,2,KEWEENAW,0,0
16,"Alcona County, MI",26001,1996,11106,1,1996,199602,10,2000,1200,5575648,MICHIGAN,0.0,0,2,KEWEENAW,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968,"Allegan County, MI",26005,2006,111156,5,2006,200607,17,2310,2313,5523569,MICHIGAN,40.0,53.0,7,ALLEGAN,0,0
5980,"Allegan County, MI",26005,2006,111156,5,2006,200608,2,1928,1928,5529001,MICHIGAN,10.0,53.0,8,ALLEGAN,0,0
5985,"Allegan County, MI",26005,2006,111156,5,2006,200609,10,100,800,5530636,MICHIGAN,0.0,0,9,MARQUETTE,0,0
5987,"Allegan County, MI",26005,2006,111156,5,2006,200609,5,1702,1702,5532309,MICHIGAN,10.0,0.88,9,ALLEGAN,0,0
5995,"Allegan County, MI",26005,2006,111156,5,2006,200612,21,2300,1500,9326,MICHIGAN,0.0,0,2,MARQUETTE,0,0